[submodule "rails/video-manager"]
	path = rails/video-manager
	url = git@github.com:awesomenesstv/video-manager.git
[submodule "video-manager"]
	path = video-manager
	url = git@github.com:awesomenesstv/video-manager.git
